{% extends 'NeonExchangeBundle::layout.html.twig' %}

{% block content %}
    <h2>Login</h2>
    <form action="{{ path('login_check') }}" method="post">
	
		{% if error %}
			{{ error.message }}
		{% endif %}
	
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" />

		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" />
		
        <input type="submit" value="Login" class="btn btn-success">
    </form>
{% endblock %}