/*
Document   : main
Created on : Jun 19, 2013, 11:41:48 AM
Author     : David Yell <neon1024@gmail.com>
Description:
    Styles for the site
*/

html {
    background-color: #ccc;
}
.container .row{
    background-color: #fff;
    header {
        margin-bottom: 15px;
        border-bottom: 1px dashed #474747;
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1.2em;
            font-style: italic;
        }
    }
}

.question {
    $lightBlue: #e8f0f4;
    padding: 10px;
    margin: 10px 0;
    background-color: $lightBlue;
    border: 1px solid darken($lightBlue, 15%);
    border-radius: 5px;
    span.votes, span.answers {
        float: left;
        font-size: 2em;
        display: block;
        margin: 0 5px;
        padding: 10px 5px 5px 5px;
        text-align: center;
        small {
            font-size: 0.4em;
        }
		&.answers.has-answers {
			color: #b0ea64;
		}
    }
    h3 {
        float: left;
        margin: 14px 0 0 10px;
        line-height: 20px;
    }
    .meta {
        float: right;
        .user, .tags {
            margin: 0;
        }
    }
}

.user {
    margin: 29px 0 0 0;
    float: right;
    font-size: 0.8em;
}

.votes {
    font-size: 1.5em;
    float: left;
    text-align: center;
    span {
        cursor: pointer;
        display: block;
        margin-bottom: 5px;
    }
}

.question-content, .answer-content {
    margin-left: 40px;
    h2 {
        margin: 0 0 15px 0;
    }
}

.view-answer {
    padding: 10px 0;
    min-height: 80px;
    border-top: 1px dotted #ccc;
}

.write-answer {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

form {
    textarea {
        width: 99%;
        height: 200px;
    }
}